
$perfil-card-color:#F5F5FA;
$color-button:#7540EE;
$white:#FFFFFF;
$fonte:'Source Sans Pro', sans-serif;

.form-descricao {
  display: block;
  margin: auto;
  color: #7b7b7b;
  background-color: #fdfdfd;
  width: 300px;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 12px;
  overflow:hidden;
}
.form-select {
  border-radius: 15px;
  display: block;
  margin: auto;
  color: #7b7b7b;
  background-color: #fdfdfd;
  width: 340px;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
}

textarea:focus, input:focus, select:focus {
  outline: none;
}

.cria-taks-button-form {
  position: relative;
  cursor:pointer;
  color:$white;
  text-align:  center;
  font-size:16px;
  border-radius:10px;
  font-family: $fonte;
  width: 350px;
  height: 50px;
  background-color:$color-button;
  border:none;
  outline:0;
  box-shadow: 0px 25px 68px #7540ee36;
  transition-timing-function: ease-out;
  transition: background-color 1.1s;
  left: 50%;
  -ms-transform:  translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.cria-taks-button-form:hover {
  transition-timing-function: ease-int;
  transition: background-color 1.1s;
  background-color:#9467fb;
}


.form-container {
  padding-top: 25px;
  min-height: 220px;
}
